@import '../../../variables.scss';

.title{
   display: flex;
   justify-content: space-between;
   margin-bottom: 20px;
}
.task{
   margin-bottom: 20px;
   display: flex;
}
.button{
   cursor: pointer;
   margin-left: 10px;
}
.input{
   margin: 0px 10px 20px 0px;
   font-size: 16px;
   padding: 5px;
}
.close{
   cursor: pointer;
}
.save{
   cursor: pointer;
   background: none;
   width: 20px;
   border: none;
   color: $text-color;
}