@import '../../variables.scss';

.popup_wrapper{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: $background-opacity;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup{
   width: 300px;
   height: 200px;
   background-color: $background-black;
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 10px;
   border-radius: 8px;
}
.form{
   display: flex;
   flex-direction: column;
   align-items: center;
}
.text{
   color: $text-color;
   margin-bottom: 10px;
}
.input{
   margin-bottom: 20px;
   padding: 5px;
   border-radius: 8px;

}
.input:focus{
   outline: none;
}
.button{
   display: inline-block;
   padding: 5px 10px;
   width: 100px;
   background: none;
   border: none;
   cursor: pointer;
   background-color: $button-color;
   border-radius: 8px;
}
.button:hover{
   opacity: 0.7;
}
.error{
   color: $red-color;
   margin-bottom: 10px;
}