.title{
   margin-bottom: 10px;
}
.add_comment{
   display: flex;
}
.button{
   padding: 5px 10px;
   cursor: pointer;
}
.input{
   padding: 5px;
   border-radius: 8px;
   margin-right: 10px;
   width: 300px;
}