.description{
   margin-bottom: 20px;
}
.title{
   margin-bottom: 10px;
}
.input{
   display: flex;
   flex-direction: column;
}
textarea{
   width: 400px;
   height: 150px;
   margin-bottom: 20px;
}
button{
   display: inline-block;
   padding: 5px 10px;
   width: 200px;
   cursor: pointer;
}