@import '../../../../variables.scss';

.task{
background-color: $background-gray;
border-radius: 8px;
display: flex;
align-items: center;
padding: 10px;
margin-bottom: 10px;
}
.title{
   margin-right: 10px;
}
.dialogImg{
   width: 20px;

}
.img{
   width: 100%;
   background-color: $text-color;
   
}