.card {
   background-color:#101204;
   width: 400px;
   height: max-content;
   border-radius: 8px;
   padding: 20px;
   cursor: pointer;
   font-size: 24px;
   color: #b6c2cf;
   margin-right: 50px;
}
