@import '../../variables.scss';

.popup_wrapper{
   position: absolute;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   background: $background-opacity;
   display: flex;
   justify-content: center;
   align-items: center;
}
.popup{
   position: relative;
   width: 800px;
   height: max-content;
   background-color: $background-black;
   display: flex;
   flex-direction: column;
   padding: 10px 50px 10px 10px;
   border-radius: 8px;
   color: $text-color;
   font-size: 24px;
}
.close{
   position: absolute;
   right: 7px;
   top: 7x;
   cursor: pointer;
}

