@import '../../../variables.scss';

.bord {
   background-color:$background-black;
   width: 400px;
   height: max-content;
   border-radius: 8px;
   padding: 20px;
   cursor: pointer;
   font-size: 24px;
   color: $text-color;
   margin-right: 50px;
}
